#page-container {
    display: grid;
    grid-template-rows: 80px auto 80px;
    flex-direction: column;
}

footer {
    background-color: #006095;
    color: #fff;
}

footer small {
    display: flex;
    align-items: center;
    justify-content: center;
}